*{
	margin:0;padding:0;
}/*应用于所有元素*/
body{
	font-family:"Apple LiGothic Medium";
	background:#DEDEDE;
}
/*header样式*/
header{
	position:relative;
	background:#282828;
	height:60px;
}
header h1 a{
	text-decoration:none;
	font-family:"Palace Script MT";
	font-size:30px;
	padding:20px;
	color:red;	
}
header h1 a:hover{
	color:green;
}
header ul{
	position:absolute;
	right:10px;
	top:0;
	list-style-type:disc;
}
header ul li{
	display:block;
	float:left;
	padding:20px 10px;
	/*上下内边距为20px，左右内边距为10px*/
}
header ul li a{
	text-decoration:none;
	color:white;
	font-size:12px;
}
/*body样式*/
article,figure {
	margin:20px;
	padding:20px;
	background:white;
}
h2{
	padding:10px 0;
	font-size:15px;
}
article h3{
	padding:10px 0;
	font-size:12px;
}
article span{
	padding:10px 0;
	font-size:10px;
}
article p{
	padding:10px 0;
	text-indent:2em;
}
article img{
	width:200px;
	height:200px;
}
article ul{
	list-style-type:none;
}
/*图片集样式*/
figure figcaption{
	border:1px solid #C0C0C0;
	margin:10px;
	width:110px;
	padding:5px;
}
figure figcaption span{
	display:block;
	text-align:center;
}
figure figcaption img{
	width:100px;
	height:100px;
	padding:5px;
}
article ol{
	padding:10px 20px;
}
article table{
	font-size:10px;
	width:100%;
	border-collapse:collapse;
}
article table tr th{
	color:white;
	background:#383838;
}
#bg{
	background:	#888888;
}
td.tdbold{
	font-weight:bold;
}
/*侧栏*/
aside h2{
	padding:10px;
	border-left:2px solid #383838;
}
aside form div{
	padding:5px
}
aside form div .align_right{
	float:left;
	text-align:right;
	width:40%;
}
aside form div p{
	text-indent:0;
	margin-left:40%;
	color:#D8D8D8;
}
textarea{
	width:40%;
}
button{
	width:100%;
	background:#0033FF;
	color:white;
	line-height:25px;
}
footer{
	background:black;
	height:60px;
}
footer p{
	padding:10px;
	text-align:center;
	color:white;
}







